{% load static %}

@media screen and (max-width: 640px){
  body{
    background-color: #ffffff;
  }

  div.tribar{
    display: block;
    color: #ffffff;
    float:left;
    height:10%;
    width:10%;
    margin-top:-1%;
    position: absolute;
  }

  label{
    color: #ffffff;
    font-size:200%;
  }

  .hidden-check{
    position: absolute;
    left: -100vw;
  }

  div.right_block{
    position:absolute;
    height: 7%;
    width: 100%;
    top: 0%;
    left:0%;
    text-align:center;
    font-family: Helvetica, Garamind;
    background-color:#0c2337;
    overflow:hidden;
  }

  h1{
    float:left;
    width:100%;
    margin-top:3%;
    color:#ffffff;
    text-align:center;
    font-family: Helvetica, Garamond;
    font-size: 150%;
  }

  div.linkk{
    float:left;
    width:100%;
    margin-top: -5%;
    color:#ffffff;
    text-decoration: none;
    font-size: 70%;
    text-align:center;
    line-height:50%;
  }
  a.github, p.email{
    margin-bottom:0%;
    color:#ffffff;
    text-align:center;
  }

  div.buttons{
    float:left;
    width:100%;
    margin-top: -1%;
    margin-bottom:10%;
  }

  button{
    color: #0c2337;
    background-color:#cdc5b7;
    padding:5px;
    width: 40%;
    border: none;
    text-align: center;
    font-family: Helvetica, Garamond;
    text-decoration: none;
    font-size: 70%;
  }

  button.button1{
    float:left;
    margin-top: 0%;
    margin-left:7%;
  }

  button.button2{
    float:right;
    margin-top: 0%;
    margin-right: 7%;
  }

  button.button3{
    float:left;
    margin-top: 5%;
    margin-left:7%;
  }

  button.button4{
    float:right;
    margin-top: 5%;
    margin-right: 7%;
  }

  button.button5{
    float:left;
    margin-top: 5%;
    margin-left:7%;
  }

  button.button6{
    float:right;
    margin-top: 5%;
    margin-right: 7%;
  }

  div.content{
    position: absolute;
    height: 70%;
    width: 100%;
    top:5%;
    left:0%;
    overflow:auto;
    background-color:#ffffff;
  }

  p.headd{
    float:left;
    width: 80%;
    margin-bottom:0%;
    margin-left:10%;
    color:#0c2337;
    text-align:center;
    font-family: Helvetica, Garamond;
    font-size: 150%;
    font-weight: bold;
  }

  p.subheadd{
    float:left;
    width: 80%;
    margin-bottom:0%;
    margin-left:10%;
    color:#0c2337;
    text-align:left;
    font-family: Helvetica, Garamond;
    font-size: 100%;
    text-decoration: underline;
  }

  p, li{
    float:left;
    width: 80%;
    margin-bottom:0%;
    margin-left:10%;
    color:#000000;
    text-align:left;
    font-family: Helvetica, Garamond;
    font-size: 85%;
  }

  div.about_me{
    display:  block;
    position: relative;
    top: 5%;
  }

  div.skills{
    display:none;
    position: relative;
    top: 5%;
  }

  div.courses{
    display:none;
    position: relative;
    top: 5%;
  }

  div.exp{
    display:none;
    position: relative;
    top: 5%;
  }

  div.projects{
    display:none;
    position: relative;
    top: 5%;
  }

  div.aff{
    display:none;
    position: relative;
    top: 5%;
  }
}

@media screen and (min-width: 641px){
  body {
    background-color:#0c2337;
  }

  div.tribar{
    display: none;
  }

  ::-webkit-scrollbar {
    width: 10px;
    padding-right:10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px #0c2337;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

  div.content{
    position: absolute;
    height: 60%;
    width: 30%;
    top:20%;
    left:17%;
    background-color:#cdc5b7;
    overflow:auto;
  }

  p.headd{
    float:left;
    width: 80%;
    margin-bottom:0%;
    margin-left:10%;
    color:#0c2337;
    text-align:center;
    font-family: Helvetica, Garamond;
    font-size: 150%;
    font-weight: bold;
  }

  p.subheadd{
    float:left;
    width: 80%;
    margin-bottom:0%;
    margin-left:10%;
    color:#0c2337;
    text-align:left;
    font-family: Helvetica, Garamond;
    font-size: 100%;
    text-decoration: underline;
  }

  p, li{
    float:left;
    width: 80%;
    margin-bottom:0%;
    margin-left:10%;
    color:#000000;
    text-align:left;
    font-family: Helvetica, Garamond;
    font-size: 85%;
  }

  div.about_me{
    display:  block;
    position: relative;
    top: 5%;
    float:left;
    margin-bottom: 50px;
  }

  div.skills{
    display:none;
    position: relative;
    top: 5%;
  }

  div.courses{
    display:none;
    position: relative;
    top: 5%;
    margin-bottom: 50px;
  }

  div.exp{
    display:none;
    position: relative;
    top: 5%;
  }

  div.projects{
    display:none;
    position: relative;
    top: 5%;
  }

  div.aff{
    display:none;
    position: relative;
    top: 5%;
  }

  div.right_block{
    position: absolute;
    height: 60%;
    width: 30%;
    top: 20%;
    left: 53%;
    text-align: center;
    color: #ffffff;
    font-family: Helvetica, Garamond;
  }

  h1{
    float:left;
    margin-top:3%;
    color:#ffffff;
    text-align:center;
    font-family: Helvetica, Garamond;
    font-size: 300%;
  }

  div.buttons{
    float:left;
    margin-top: 0%;
    margin-bottom:10%;
  }

  button{
    color: #0c2337;
    background-color:#cdc5b7;
    padding:10px;
    width: 40%;
    border: none;
    text-align: center;
    font-family: Helvetica, Garamond;
    text-decoration: none;
    font-size: 80%;
  }
  button:hover{
    color:#ffffff;
    background-color:#0c2337;
    padding:9px;
    border: solid 1px;
    border-color:#ffffff;
  }

  button.button1{
    float:left;
    margin-top: 0%;
    margin-left:7%;
  }

  button.button2{
    float:right;
    margin-top: 0%;
    margin-right: 7%;
  }

  button.button3{
    float:left;
    margin-top: 5%;
    margin-left:7%;
  }

  button.button4{
    float:right;
    margin-top: 5%;
    margin-right: 7%;
  }

  button.button5{
    float:left;
    margin-top: 5%;
    margin-left:7%;
  }

  button.button6{
    float:right;
    margin-top: 5%;
    margin-right: 7%;
  }

  a.github, p.email{
    color:#ffffff;
    text-decoration: none;
    font-size: 80%;
    text-align:center;
  }
  a.github:hover{
    text-decoration: underline;
  }
}
